<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios de Alongamento</title>
    <link rel="stylesheet" href="/exercicios/alongamento/css/nav.css">
    <link rel="stylesheet" href="/exercicios/alongamento/css/style.css">
    <link rel="stylesheet" href="/exercicios/alongamento/css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="#" class="nav-link">
          <span class="link-text logo-text">Projeto X</span>

        </a>
      </li>

      <li class="nav-item">
        <a href="/perfil" class="nav-link">
          <i class="fa-regular fa-user"></i>
          <span class="link-text">perfil</span>
        </a>
      </li>

      <!-- <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa-solid fa-location-dot"></i>
          <span class="link-text">Consultar</span>
        </a>
      </li> -->

      <li class="nav-item">
        <a href="/planos" class="nav-link">
          <i class="fa-solid fa-person-running"></i>
          <span class="link-text">Exercícios</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/app/task" class="nav-link">
          <i class="fa-regular fa-file"></i>
          <span class="link-text">Tarefas</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/app/calculadora" class="nav-link">
          <i class="fa-solid fa-calculator"></i>
          <span class="link-text">Calculadora IMC</span>
        </a>
      </li>

      <li class="nav-item" id="themeButton">
        <a href="#" class="nav-link">
          <i class="fa-solid fa-circle-half-stroke"></i>
          <span class="link-text">Temas</span>
        </a>
      </li>
    </ul>
  </nav>
  
    <main id="container">
        <div id="img">
            <img src="/exercicios/alongamento/assets/Alongamento.jpg" alt="Los Angeles" class="d-block w-100">
            <div class="legenda">
                <h3>Alongamentos</h3>
                <p>"Exercícios para melhorar a as dores e flexibilidade</p>
            </div>
        </div>
            

        <div id="header">
            <h1>Exercícios de alongamento</h1>
        </div>


        <div id="cards">
          <div class="card">
            <img src="/exercicios/alongamento/assets/frentealongandopescoco.png" alt="" srcset="">
            <div class="card-body">
              <label for="button-label">Alontgamento de pescoço</label>
              <div class="reps-label">
                <label for="reps-label">30 segundos</label>
              </div>
            </div>
          </div>

          
          <div class="card">
            <img src="/exercicios/alongamento/assets/securvandolombar.png" alt="" srcset="">
            <div class="card-body">
              <label for="button-label">Alongamento de coluna</label>
              <div class="reps-label">
                <label for="reps-label">30 segundos</label>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/exercicios/alongamento/assets/curvandolombar.png" alt="" srcset="">
            <div class="card-body">
              <label for="button-label">Alongamento de Lombar</label>
              <div class="reps-label">
                <label for="reps-label">30 segundos</label>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/exercicios/alongamento/assets/frentealongandobracohorizontal.png" alt="" srcset="">
            <div class="card-body">
              <label for="button-label">Alongamento de ombro</label>
              <div class="reps-label">
                <label for="reps-label">30 segundos</label>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/exercicios/alongamento/assets/alongarpernatras.png" alt="" srcset="">
            <div class="card-body">
              <label for="button-label">Alongamento de Perna</label>
              <div class="reps-label">
                <label for="reps-label">30 segundos</label>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/exercicios/alongamento/assets/alongarpernafrente.png" alt="" srcset="">
            <div class="card-body">
              <label for="button-label">Alongamendo de perna frontal</label>
              <div class="reps-label">
                <label for="reps-label">30 segundos</label>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/exercicios/alongamento/assets/rotacionandolateralbraço1levantado.png" alt="" srcset="">
            <div class="card-body">
              <label for="button-label">Alongamento Lateral</label>
              <div class="reps-label">
                <label for="reps-label">30 segundos</label>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/exercicios/alongamento/assets/trasalongandobracodedosbaixo.png" alt="" srcset="">
            <div class="card-body">
              <label for="button-label">Alogamento de braço trazeiro</label>
              <div class="reps-label">
                <label for="reps-label">30 segundos</label>
              </div>
            </div>
          </div>
        </div>
        
       <a href="/alongamento_action" id="iniciar"> 
        <i class="fa-regular fa-circle-play"></i>
       </a>

       
    </main>
    <script src="/exercicios/alongamento/js/script.js"></script>
  </body> 
</html>


