<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios de Condicionamento</title>
    <link rel="stylesheet" href="/exercicios/condicionamento/css/nav.css">
    <link rel="stylesheet" href="/exercicios/condicionamento/css/style.css">
    <link rel="stylesheet" href="/exercicios/condicionamento/css/media.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>
    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="logo">
            <a href="#" class="nav-link">
              <span class="link-text logo-text">Projeto X</span>
    
            </a>
          </li>

          <li class="nav-item">
            <a href="/perfil" class="nav-link">
              <i class="fa-regular fa-user"></i>
              <span class="link-text">perfil</span>
            </a>
          </li>
    
          <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa-solid fa-location-dot"></i>
              <span class="link-text">Consultar</span>
            </a>
          </li> -->
    
          <li class="nav-item">
            <a href="/planos" class="nav-link">
              <i class="fa-solid fa-person-running"></i>
              <span class="link-text">Exercícios</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a href="/app/task" class="nav-link">
              <i class="fa-regular fa-file"></i>
              <span class="link-text">Tarefas</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a href="/app/calculadora" class="nav-link">
              <i class="fa-solid fa-calculator"></i>
              <span class="link-text">Calculadora IMC</span>
            </a>
          </li>
    
          <li class="nav-item" id="themeButton">
            <a href="#" class="nav-link">
              <i class="fa-solid fa-circle-half-stroke"></i>
              <span class="link-text">Temas</span>
            </a>
          </li>
        </ul>
      </nav>

    <main id="container">
        <div id="img">
            <img src="/exercicios/condicionamento/assets/pushup.jpg" alt="Los Angeles" class="d-block w-100">
            <div class="legenda">
                <h3>Exercícios de Condicionamento</h3>
                <p>"Exercícios para fortalecer os músculos para evitando assim a dor e o desconforto</p>
            </div>
        </div>


        <div id="header">
            <h1>Exercícios de condicionamento</h1>
        </div>


        <div id="cards">
            <div class="card">
                <img src="/exercicios/condicionamento/assets/flexao6.gif" alt="" srcset="">
                <div class="card-body">
                    <label for="button-label">Flexão</label>
                    <div class="reps-label">
                        <label for="reps-label">30 segundos</label>
                    </div>
                </div>
            </div>


            <div class="card">
                <img src="/exercicios/condicionamento/assets/abdominal_nice.gif" alt="" srcset="">
                <div class="card-body">
                    <label for="button-label">Abdominal</label>
                    <div class="reps-label">
                        <label for="reps-label">30 segundos</label>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/exercicios/condicionamento/assets/pranchalateral4002.png" alt="" srcset="">
                <div class="card-body">
                    <label for="button-label">Prancha Lateral</label>
                    <div class="reps-label">
                        <label for="reps-label">30 segundos</label>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/exercicios/condicionamento/assets/prancha400.png" alt="" srcset="">
                <div class="card-body">
                    <label for="button-label">Prancha normal</label>
                    <div class="reps-label">
                        <label for="reps-label">30 segundos</label>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="/exercicios/condicionamento/assets/polichinelo2.gif" alt="" srcset="">
                <div class="card-body">
                    <label for="button-label">polichinelo</label>
                    <div class="reps-label">
                        <label for="reps-label">30 segundos</label>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="/exercicios/condicionamento/assets/agaichamento1.gif" alt="" srcset="">
                <div class="card-body">
                    <label for="button-label">agachamento</label>
                    <div class="reps-label">
                        <label for="reps-label">30 segundos</label>
                    </div>
                </div>
            </div>

        </div>

        <a href="/condicionamento_action" id="iniciar">
            <i class="fa-regular fa-circle-play"></i>
        </a>

    </main>
    <script src="/exercicios/condicionamento/js/script.js"></script>
</body>

</html>