<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planos de treino</title>
    <script defer src="js/script.js"></script>
    <link rel="stylesheet" href="/exercicios/planos/css/style.css" />
    <link rel="stylesheet" href="/exercicios/planos/css/nav.css">
    <link rel="stylesheet" href="/exercicios/planos/css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="#" class="nav-link">
                    <span class="link-text logo-text">Projeto X</span>

                </a>
            </li>

            <li class="nav-item">
                <a href="/perfil" class="nav-link">
                  <i class="fa-regular fa-user"></i>
                  <span class="link-text">perfil</span>
                </a>
              </li>

            <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa-solid fa-location-dot"></i>
              <span class="link-text">Consultar</span>
            </a>
          </li> -->

            <li class="nav-item">
                <a href="/planos" class="nav-link">
                    <i class="fa-solid fa-person-running"></i>
                    <span class="link-text">Exercícios</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/app/task" class="nav-link">
                    <i class="fa-regular fa-file"></i>
                    <span class="link-text">Tarefas</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/app/calculadora" class="nav-link">
                    <i class="fa-solid fa-calculator"></i>
                    <span class="link-text">Calculadora IMC</span>
                </a>
            </li>

            <li class="nav-item" id="themeButton">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                    <span class="link-text">Temas</span>
                </a>
            </li>
        </ul>
    </nav>

    <main id="container">



        <section id="img">
            <h1 class="header">
                Seus planos de treino
            </h1>
            <img src="/exercicios/planos/assets/treino2.svg" alt="" id="img">
        </section>

        <section id="pacotes">
            <!-- Primeiro Pacote -->
            <div class="exercicio" id="exercicio1">
                <div class="exercicio-img">
                    <img src="/exercicios/planos/assets/alongamentoescritorio.jpg" alt="" srcset="">
                </div>

                <div class="exercicio-body">
                    <div class="exercicio-header">
                        <h2>Alongamentos</h2>
                    </div>

                    <div class="exercicio-p">
                        <p>Uma série de exercícios para ajudar no alívio de dores</p>
                    </div>
                </div>


            </div>
            <!-- Segundo Pacote -->
            <div class="exercicio" id="exercicio2">
                <div class="exercicio-img">
                    <img src="/exercicios/planos/assets/condicionamentogeral.jpg" alt="" srcset="">
                </div>

                <div class="exercicio-body">
                    <div class="exercicio-header">
                        <h2>Condicionamento geral</h2>
                    </div>

                    <div class="exercicio-p">
                        <p>Uma série de exercícios para ajudar a fortalecer os músculos</p>
                    </div>

                </div>

            </div>

            </div>

        </section>

    </main>
    <script src="/exercicios/planos/js/script.js"></script>
</body>