<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecionando...</title>
</head>
<body>
    <script>
        const token = '<%= token %>';
        const userId = '<%= userId %>';

        // Armazena o token no localStorage
        localStorage.setItem('token', token);
        
        // Requisição para a página de perfil com o token no cabeçalho de autorização
        fetch(`/perfil/${userId}`, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/perfil/<%= userId %>';
            } else {
                console.error('Erro ao acessar página de perfil:', response.statusText);
            }
        })
        .catch(error => console.error('Erro ao fazer requisição para página de perfil:', error));
    </script>
</body>
</html>
